<mat-progress-spinner
    *ngIf="loading"
    class="example-margin"
    [color]="'primary'"
    [mode]="'indeterminate'"
>
</mat-progress-spinner>
<main *ngIf="!loading">
    <form [formGroup]="createTaskForm" class="task-create" (ngSubmit)="submit()">
        <div class="task-create__fields">
            <mat-form-field>
                <mat-label>Название задачи</mat-label>
                <input matInput formControlName="title" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Описание задачи</mat-label>
                <textarea
                    matInput
                    formControlName="description"
                ></textarea>
            </mat-form-field>
        </div>
        <div class="task-create__side-fields">
            <mat-form-field>
                <mat-label>Дедлайн</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="date"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Статус</mat-label>
                <mat-select formControlName="status">
                    <mat-option
                        *ngFor="let status of statusOptions"
                        [value]="status.value"
                    >
                        {{ status.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="task-create__buttons">
            <a 
                (click)="submit()"
                mat-raised-button color="primary"
                [disabled]="!isValid">
                Сохранить</a>
            <a [routerLink]="['/dashboard']" mat-stroked-button>Отмена</a>
        </div>
    </form>
</main>
