<mat-progress-spinner
    *ngIf="loading"
    class="example-margin"
    [color]="'primary'"
    [mode]="'indeterminate'"
    >
</mat-progress-spinner>
<main *ngIf="!loading" class="task-detail">
    <h1 class="task-detail__title" [ngClass]="task.warning">{{task.title}}</h1>
    <p>Описание<br>{{task.description}}</p>

    <p>Дедлайн<br>{{task.expDate | date: 'dd.MM.yyyy'}}</p>

    <p>Статус<br>{{statusMaping[task.status]}}</p>
    <footer class="task-detail__footer">
        <a [routerLink]="['/create/', task.id]" mat-raised-button color="primary">Изменить</a>
        <a [routerLink]="['/dashboard']" mat-stroked-button>Отмена</a>
    </footer>
</main>